RewriteEngine On
RewriteBase /

# If the URL starts with /site/projectName
RewriteCond %{REQUEST_URI} ^/site/([^/]+)/(.*)$
RewriteCond %{DOCUMENT_ROOT}/projects/%1/public/%2 -f
RewriteRule ^site/([^/]+)/(.*)$ /projects/%1/public/%2 [L]

# Otherwise route to dispatcher
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
