RewriteEngine On
RewriteBase /

# If file or directory exists, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite everything to index.php
RewriteRule ^(.*)$ index.php [QSA,L]
